<div class="container">
  <div class="head">
    <h4 style="text-align: center;">Register user</h4>
    <hr>

  </div>

  <form class="register-form" #registerForm="ngForm" (ngSubmit)="registerUser()" [style.fontSize.px]=15>
    <div class="register-block">
      <div class="form-group">
        <label for="firstName">First Name</label>

        <input class="form-control" required [(ngModel)]="newUser.firstName" id="firstName" name="firstName">

      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>

        <input class="form-control" required [(ngModel)]="newUser.lastName" id="lastName" name="lastName">

      </div>
      <div class="form-group">
        <label for="userId">User ID</label>

        <input type="email" required  class="form-control" [(ngModel)]="newUser.userId" id="userId" name="userId">

      </div>
      <div class="form-group">
        <label for="password">Password</label>

        <input type="password" required [(ngModel)]="newUser.password" class="form-control" id="password" name="password">

      </div>
      <div class="form-group">
        <label class="form-label" for="customFile">User Profile Image</label>
        <br>
        <input type="file" required (change)="onFileSelected($event)" value="upload" class="form-control" id="customFile" />
      </div>
      <br>
      <div class="row">
        <button type="submit" (click)="onUpload()" class="btn btn-primary">Register</button>
        <br>
      </div>
    </div>
  </form>
</div>