.example-spacer{
    flex: 1 1 auto;
    background-color:#FCC;
}

button{
    margin-left: 20px;
    color: black;
}

a{
    font-family: Fantasy;
    font-size: large;
    margin-left: 5px;
}

.name{
    color: whitesmoke;
}

  