<div class="col s12">
  <form materialize>
    <div class="row">
      <div class="input-field col offset-s3 s6" (click)="startNewSearch.emit()">
        <i class="material-icons prefix">search</i>
        <input id="job_name" type="text" class="validate" name="search" [(ngModel)]="search"
          (input)="search$.next(search)">
        <label for="job_name">Search job:</label>
      </div>
    </div>
  </form>
  <div *ngIf="!showingJob" class="row">
    <app-job-search-item *ngFor="let job of searchResults; let i = index" [index]="i" (click)="setCurrentJob(job)"
      [job]="job"></app-job-search-item>
  </div>
  <h3 *ngIf="!fetching && searchResults.length === 0 && search.length > 0" [ngStyle]="{'text-align': 'center'}">No
    results found for {{search}}</h3>

</div>
<!-- </div>
    <h3 *ngIf="!fetching && search.length > 0" [ngStyle]="{'text-align': 'center'}">No results found for {{search}}</h3>
  </div> -->