<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>About Job Listing app</h1>
  <p>This Job Portal application can be used to search jobs on various domains like UX , Software Development , Hr , IT , Sales etc.
    A new user can first register him/herself easily and then login using the credentials. Then the user can search for various jobs on the basis of different categories and simultaneously add relevant jobs to his favourites list.</p>
  <p>You can now login anytime and start applying for jobs by viewing yours favourites list.
    The job description is being fetched by the API <a href="https://www.themuse.com/developers/api/v2">Link</a>.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <!-- <div class="card"> -->
      <div class="container">
        <h4>Daksh</h4>
        <p class="title">biswasdaksh007@gmail.com</p>
      </div>
    <!-- </div> -->
  </div>

  <div class="column">
    <!-- <div class="card"> -->
      <div class="container">
        <h4>Mohan</h4>
        <p>mike@example.com</p>
      </div>
    <!-- </div> -->
  </div>
  
  <div class="column">
    <!-- <div class="card"> -->
      <div class="container">
        <h4>Sudarshan</h4>
        <p>john@example.com</p>
      </div>
    <!-- </div> -->
  </div>
</div>
</body>
</html>